
        
<div class="banner-container">
      <div class="banner-top">
          <div id="slider">
              <a href="javascript:void(0)" class="control_next"><i class="mdi mdi-chevron-right"></i></a>
              <a href="javascript:void(0)" class="control_prev"><i class="mdi mdi-chevron-left"></i></a>
              <ul>
                  <li><img src="static/images/banner-one.jpg"></li>
                  <li><img src="static/images/banner-two.jpg"></li>
                  <li><img src="static/images/banner-three.jpg"></li>
                  <li><img src="static/images/banner-four.jpg"></li>
              </ul>  
          </div>
      </div>
</div>
<div class="cart-home-container">
  <div class="container cart-home-inner">
      <div class="cart-box">
          <div class="cart-profile">
              <div class="cart-pro-img"><img src="static/images/pro-1.png"></div>
              <div class="prof-name">
                  <span class="pro-name">Shashank Kaushik</span>
                  <span class="post-time">11hr</span>
              </div>
          </div>
          <div class="cart-img-conter">
              <img src="static/images/dr2.jpg"/>
          </div>
          <div class="cart-desc">
              <span>#Grenada #Guatemala #Guinea #Guinea-Bissau #Guyana #HongKong #Iceland #Indonesia #Iran #Iraq #Ireland #Israel #Italy #Jamaica #Japan #Jordan #Laos #Latvia #Lebanon #Lesotho #Liberia #Libya #Liechtenstein #Lithuania #Morocco #Mozambique #Mauritania #Mauritius #Mexico #NewZealand #Oman #Philippines #Syria #Tanzania #Tunisia #Turkey #UnitedArabEmirates</span>
          </div>
          <div class="cart-social-cont">
              <a href=""><i class="mdi mdi-heart"></i><span>854</span></a>
              <a href=""><i class="mdi mdi-share-variant"></i><span>1K</span></a>
              <a href=""><i class="mdi mdi-comment"></i><span>300</span></a>
              <a href="" class="cart-soc-foll"><i class="mdi mdi-account-plus"></i></a>
              <a href=""><i class="mdi mdi-eye"></i><span>2.5K</span></a>
          </div>
      </div>
      
      <div class="cart-box">
          <div class="cart-profile">
              <div class="cart-pro-img"><img src="static/images/pro-1.png"></div>
              <div class="prof-name">
                  <span class="pro-name">Shashank Kaushik</span>
                  <span class="post-time">11hr</span>
              </div>
          </div>
          <div class="cart-img-conter">
              <img src="static/images/dr4.jpg"/>
          </div>
          <div class="cart-desc">
              <span>#Grenada #Guatemala #Guinea #Guinea-Bissau #Guyana #HongKong #Iceland #Indonesia #Iran #Iraq #Ireland #Israel #Italy #Jamaica #Japan #Jordan #Laos #Latvia #Lebanon #Lesotho #Liberia #Libya #Liechtenstein #Lithuania #Morocco #Mozambique #Mauritania #Mauritius #Mexico #NewZealand #Oman #Philippines #Syria #Tanzania #Tunisia #Turkey #UnitedArabEmirates</span>
          </div>
          <div class="cart-social-cont">
              <a href=""><i class="mdi mdi-heart"></i><span>854</span></a>
              <a href=""><i class="mdi mdi-share-variant"></i><span>1K</span></a>
              <a href=""><i class="mdi mdi-comment"></i><span>300</span></a>
              <a href="" class="cart-soc-foll"><i class="mdi mdi-account-plus"></i></a>
              <a href=""><i class="mdi mdi-eye"></i><span>2.5K</span></a>
          </div>
      </div>
      
  </div>
</div>
<div class="desigers-container">
  <div class="container">
      <h1 class="desigers-list-title">Style Designers</h1>
      <div class="designer-cart-inner-cont">
          <div class="designer-card">
              <img src="static/images/d1.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d2.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d3.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d4.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d5.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d6.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d7.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
      </div>
  </div>
  <div class="container">
      <h1 class="desigers-list-title">Models</h1>
      <div class="designer-cart-inner-cont">
          <div class="designer-card">
              <img src="static/images/d1.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d2.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d3.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d4.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d5.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d6.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d7.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
      </div>
  </div>
  <div class="container">
      <h1 class="desigers-list-title">Photo Graphers</h1>
      <div class="designer-cart-inner-cont">
          <div class="designer-card">
              <img src="static/images/d1.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d2.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d3.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d4.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d5.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d6.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d7.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
      </div>
  </div>
  <div class="container">
      <h1 class="desigers-list-title">Bloggers</h1>
      <div class="designer-cart-inner-cont">
          <div class="designer-card">
              <img src="static/images/d1.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d2.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d3.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d4.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d5.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d6.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
          <div class="designer-card">
              <img src="static/images/d7.jpg"/>
              <h2>Kashvi Chauhan</h2>
          </div>
      </div>
  </div>
</div>
    