<div class="cart-home-container">
    <div class="container cart-home-inner">
        <div class="cart-track-cont">
            <h1>My Account / My Order</h1>
            <div class="tracker-box">
                <div class="tracker-head-id">
                    <a href="/#/trackOrder" class="track-id">ODHREF98787653212GHF897564</a>
                    <a href="/#/trackOrder" class="tacker-btn">Track Now</a>
                </div>
                <div class="tracker-box-cont">
                    <div class="track-prod-det">
                        <img src="images/d8.jpg"/>
                    </div>
                    <div class="track-prod-info">
                        <h3>Nokia Mobile Phone World</h3>
                        <span>Qty: 4</span>
                    </div>
                    <div class="tack-prod-price">
                        <h3>Rs 15000.00</h3>
                        <span class="trck-offers">1:Offer</span>

                    </div>
                    <div class="track-prod-stats">
                        <h3>Time to Delivery</h3>
                        <span>Product will delivery today before 7pm</span>
                    </div>
                </div>
                <div class="track-tade-info">
                    <div class="track-info-date"><span>Date</span><span>Mon, 23rd Feb'15</span></div>
                    <div class="track-info-price"><span>Order Total</span><span>Rs.5894</span></div>
                </div>
            </div>
            
        </div>
    </div>
</div>