<div class="cart-home-container">
    <div class="container cart-home-inner">
        <div class="order-details-info">
            <h1 class="ord-track-head">Order Details</h1>
            <div class="order-addr-detail">
                <div class="oder-count-info">
                    <ul>
                        <li>
                            <label>Order ID</label>
                            <span>0KJGIUFIFVVHFYFYVILKJ</span>
                            <span>(2 Items)</span>
                        </li>
                        <li>
                            <label>Order Date:</label>
                            <span>11 July,2016 10:04 AM</span>
                        </li>
                        <li>
                            <label>Amount Paid:</label>
                            <span> RS. 8499</span>
                            <span>Throuh EMI</span>
                        </li>
                    </ul>
                </div>
                <div class="oder-count-address">
                    <ul>
                        <li><span class="add-name">Ramachandran.K</span>8789285456</li>
                        <li><span>IDEAS2IT Private Lmt, RR Towers-5, 8th floor, T.V.K Industrial Estate,Guindy,Chennai 
                            Chennai, Tamil Nadu - 600032</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="order-cont-enqury">
            <div class="order-cont-enqury-head">
                <h1>Manager Order</h1>
            </div>
            <div class="order-cont-enqury-cont">
                <div class="order-cont-num-ema-prt">
                    <i class="mdi mdi-printer"></i>
                    <span>Print</span>
                </div>
                <div class="order-cont-num-ema-prt">
                    <i class="mdi mdi-file-document"></i>
                    <span>Email Invoice</span>
                </div>
                <div class="order-cont-num-ema-prt">
                    <i class="mdi mdi-phone"></i>
                    <span>Contact Us</span>
                </div>
            </div>
        </div>
        <div class="order-cont-enqury">
            <div class="order-cont-enqury-head">
                <div class="order-track-pro-tit"><span>Product Details</span></div>
                <div class="order-track-pro-tit">
                    <div class="order-track-pro-sub-tit"><span>Approval</span></div>
                    <div class="order-track-pro-sub-tit"><span>Processing</span></div>
                    <div class="order-track-pro-sub-tit"><span>Shipping</span></div>
                </div>
                <div class="order-track-pro-tit"><span>Delivery</span></div>
                <div class="order-track-pro-tit"><span>Subtotal</span></div>
            </div>
            <div class="order-cont-enqury-cont">
                <div class="order-cont-track">
                    <div class="order-track-prod-img">
                        <img src="images/d8.jpg"/>
                    </div>
                    <div class="order-track-prod-det">
                        <h2>Honor Holly 2 Plus</h2>
                        <span>Color: White  Qty: 1</span>
                        <span>10 Days Replacement</span>
                    </div>
                </div>
                <div class="order-cont-track">
                    <ul class="first-pr-list "> 
                        <li class="first-listed-round"> 
                            <ul class="second-pr-list"> 
                                <li class="second-listed-round pocessed end">
                                    <div class="track-mouse-over-popup">
                                        <span class="title-suc">Your Product Details</span>
                                        <ul class="trck-info-mouse-over">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div>
                                </li> 
                                <li class="second-listed-round pocessed end">
                                    <div class="track-mouse-over-popup">
                                        <span class="title-suc">Your Product Details</span>
                                        <ul class="trck-info-mouse-over">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div>
                                </li> 
                            </ul> 
                        </li> 
                        <li class="first-listed-round"> 
                            <ul class="second-pr-list"> 
                                <li class="second-listed-round canceled end">
                                    <div class="track-mouse-over-popup">
                                        <span class="title-suc">Your Product Details</span>
                                        <ul class="trck-info-mouse-over">
                                            <li>5th Sep 2012</li>
                                            <li>04:00PM</li>
                                            <li>Chennia Airport Dispached</li>
                                        </ul>
                                    </div>
                                </li> 
                                <li class="second-listed-round start-before">
                                    <div class="track-mouse-over-popup">
                                        <span class="title-suc">Your Product Details</span>
                                        <ul class="trck-info-mouse-over">
                                            <li>5th Sep 2012</li>
                                            <li>04:00PM</li>
                                            <li>Chennia Airport Dispached</li>
                                        </ul>
                                    </div>
                                </li> 
                            </ul> 
                        </li> 
                        <li class="first-listed-round"> 
                            <ul class="second-pr-list"> 
                                <li class="second-listed-round start-before end">
                                    <div class="track-mouse-over-popup">
                                        <span class="title-suc">Your Product Details</span>
                                        <ul class="trck-info-mouse-over">
                                            <li>5th Sep 2012</li>
                                            <li>04:00PM</li>
                                            <li>Chennia Airport Dispached</li>
                                        </ul>
                                    </div>
                                </li> 
                                <li class="second-listed-round not-start">
                                    <div class="track-mouse-over-popup">
                                        <span class="title-can">Your Product Details</span>
                                        <ul class="trck-info-mouse-over">
                                            <li>5th Sep 2012</li>
                                            <li>04:00PM</li>
                                            <li>Chennia Airport Dispached</li>
                                        </ul>
                                    </div>
                                </li> 
                                <li class="second-listed-round not-start">
                                    <div class="track-mouse-over-popup">
                                        <span class="title-warning">Your Product Details</span>
                                        <ul class="trck-info-mouse-over">
                                            <li>5th Sep 2012</li>
                                            <li>04:00PM</li>
                                            <li>Chennia Airport Dispached</li>
                                        </ul>
                                    </div>
                                </li> 
                            </ul> 
                        </li> 
                    </ul>
                </div>
                <div class="order-cont-track">

                </div>
                <div class="order-cont-track">

                </div>
            </div>
        </div>
    </div>
</div>