 <div class="cart-box dynamic-layout-item dynamic-layout-col-4 bootcards-cards">
    <div class="cart-profile">
        <div class="cart-pro-img"><img src="static/images/pro-1.png"></div>
        <div class="prof-name">
            <span class="pro-name">Shashank Kaushik</span>
            <span class="post-time">11hr</span>
        </div>
    </div>
    <div class="cart-img-conter">
        <img src="static/images/dr2.jpg"/>
    </div>
    <div class="cart-desc">
        <span>{{it.data.description}}</span>
    </div>
    <div class="cart-social-cont">
        <a href=""><i class="mdi mdi-heart"></i><span>854</span></a>
        <a href=""><i class="mdi mdi-share-variant"></i><span>1K</span></a>
        <a href=""><i class="mdi mdi-comment"></i><span>300</span></a>
        <a href="" class="cart-soc-foll"><i class="mdi mdi-account-plus"></i></a>
        <a href=""><i class="mdi mdi-eye"></i><span>2.5K</span></a>
    </div>
</div>