<div class="product-detail-view">
    <div class="product-view-cont">
        <div class="product-preview-cont">
            <div class="product-preview-inner">
                <div class="product-preview-list" id="preview_images">
                    <ul>
                        <li>
                            <a href="javascript:void(0);" class="elevatezoom-gallery active" data-update="" data-image="/static/images/dr8.jpg" data-zoom-image="/static/images/dr8.jpg">
                                <img src="/static/images/dr8.jpg"/>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="elevatezoom-gallery " data-update="" data-image="images/simage2.png" data-zoom-image="images/limage2.jpg">
                                <img src="images/simage2.jpg"/>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="elevatezoom-gallery " data-update="" data-image="images/simage3.png" data-zoom-image="images/limage3.jpg">
                                <img src="images/simage3.jpg"/>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="elevatezoom-gallery " data-update="" data-image="images/simage4.png" data-zoom-image="images/limage4.jpg">
                                <img src="images/simage4.jpg"/>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="product-preview-full">
                    <img  src="/static/images/dr8.jpg" id="main_preview" />
                </div>
            </div>
        </div>
        <div class="product-info-cont">
            <div class="product-info-inner">
                <div class="product-profile">
                    <div class="product-pro-img"><img src="/static/images/pro-2.png"></div>
                    <div class="product-pro-name">
                        <span class="pro-usr-name">Shashank Kaushik</span>
                        <span class="pro-use-link">http://www.twitter.com/fashnoid</span>
                    </div>
                </div>
                <div class="product-info-card">
                    <h1>Campus Sutra Solid Men's Round Neck Grey T-Shirt</h1>
                    <div class="product-rating-cont">
                        <span class="rate-info">2.5 <i class="mdi mdi-star"></i></span>
                        <span class="rate-number">545 People Rated the Product</span>
                    </div>
                    <div class="product-price-cont">
                        <span class="pro-current">&#x20B9; 855</span>
                        <span class="pro-orginal">&#x20B9; 655</span>
                        <span class="pro-offrate">65% Off</span>
                    </div>
                    <div class="product-featur-list">
                        <h4>Features</h4>
                        <ul>
                            <li>Fabric: Cotton</li>
                            <li>Regular Fit Round Neck T-shirt</li>
                            <li>Pattern: Solid</li>
                            <li>Sleeve Type: Wide Full Sleeve</li>
                            <li>Cash On Delivery available</li>
                            <li>30 Days Exchange Policy</li>
                            <li>Regular Fit Round Neck T-shirt</li>
                        </ul>
                    </div>
                    <div class="product-si-cl-dev-cont">
                        <div class="product-indi-row-cont">
                            <div class="prod-lab-info-cont">
                                <span>Delivery</span>
                            </div>
                            <div class="prod-lab-info-deta">
                                <input type="text" placeholder="Delivery Pincode">
                                <a href="" class="check-pin-bt">Check</a>
                            </div>
                        </div>
                        <div class="product-indi-row-cont">
                            <div class="prod-lab-info-cont">
                                <span>Size</span>
                            </div>
                            <div class="prod-lab-info-deta">
                                <a href="#" class="size-btn active">S</a>
                                <a href="#" class="size-btn">M</a>
                                <a href="#" class="size-btn">L</a>
                                <a href="#" class="size-btn">XL</a>
                                <a href="#" class="size-btn">XXL</a>
                            </div>
                        </div>
                        <div class="product-indi-row-cont">
                            <div class="prod-lab-info-cont">
                                <span>Description</span>
                            </div>
                            <div class="prod-lab-info-deta">
                                <p>Fall in love with the soft texture as you adorn this regular-fit T-shirt, in Charcoal coloured, from the house of Campus Sutra. Your skin will love the feel of this T-shirt as it is fashioned using the material that is famous for comfort – cotton. Pull-up linen trousers and leather flip-flops with this comfortable T-shirt as you head out for a wild outing.
                                    Specifications</p>
                                <p>Fall in love with the soft texture as you adorn this regular-fit T-shirt, in Charcoal coloured, from the house of Campus Sutra. Your skin will love the feel of this T-shirt as it is fashioned using the material that is famous for comfort – cotton. Pull-up linen trousers and leather flip-flops with this comfortable T-shirt as you head out for a wild outing.
                                    Specifications</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="suggition-product-cart-cont">
        <h1>Suggetion Product</h1>
        <div class="suggition-product-cart">
            <div class="suggest-top-img">
                <img src="images/dr5.jpg"/>
            </div>
            <div class="suggest-pro-info-det">
                <h1>Campus Sutra Solid Men's Round Neck Grey T-Shirt</h1>
                <div class="suggest-rating-cont">
                    <span class="sug-rate-info">2.5 <i class="mdi mdi-star"></i></span>
                </div>
                <div class="sugg-price-cont">
                    <span class="sug-pro-current">&#x20B9; 855</span>
                    <span class="sug-pro-org">&#x20B9; 655</span>
                    <span class="sug-pro-offr">65% Off</span>
                </div>
            </div>
        </div>
        <div class="suggition-product-cart">
            <div class="suggest-top-img">
                <img src="images/dr7.jpg"/>
            </div>
            <div class="suggest-pro-info-det">
                <h1>Campus Sutra Solid Men's Round Neck Grey T-Shirt</h1>
                <div class="suggest-rating-cont">
                    <span class="sug-rate-info">2.5 <i class="mdi mdi-star"></i></span>
                </div>
                <div class="sugg-price-cont">
                    <span class="sug-pro-current">&#x20B9; 855</span>
                    <span class="sug-pro-org">&#x20B9; 655</span>
                    <span class="sug-pro-offr">65% Off</span>
                </div>
            </div>
        </div>
        <div class="suggition-product-cart">
            <div class="suggest-top-img">
                <img src="images/dr6.jpg"/>
            </div>
            <div class="suggest-pro-info-det">
                <h1>Campus Sutra Solid Men's Round Neck Grey T-Shirt</h1>
                <div class="suggest-rating-cont">
                    <span class="sug-rate-info">2.5 <i class="mdi mdi-star"></i></span>
                </div>
                <div class="sugg-price-cont">
                    <span class="sug-pro-current">&#x20B9; 855</span>
                    <span class="sug-pro-org">&#x20B9; 655</span>
                    <span class="sug-pro-offr">65% Off</span>
                </div>
            </div>
        </div>
        <div class="suggition-product-cart">
            <div class="suggest-top-img">
                <img src="images/dr3.webp"/>
            </div>
            <div class="suggest-pro-info-det">
                <h1>Campus Sutra Solid Men's Round Neck Grey T-Shirt</h1>
                <div class="suggest-rating-cont">
                    <span class="sug-rate-info">2.5 <i class="mdi mdi-star"></i></span>
                </div>
                <div class="sugg-price-cont">
                    <span class="sug-pro-current">&#x20B9; 855</span>
                    <span class="sug-pro-org">&#x20B9; 655</span>
                    <span class="sug-pro-offr">65% Off</span>
                </div>
            </div>
        </div>
        <div class="suggition-product-cart">
            <div class="suggest-top-img">
                <img src="images/dr1.jpg"/>
            </div>
            <div class="suggest-pro-info-det">
                <h1>Campus Sutra Solid Men's Round Neck Grey T-Shirt</h1>
                <div class="suggest-rating-cont">
                    <span class="sug-rate-info">2.5 <i class="mdi mdi-star"></i></span>
                </div>
                <div class="sugg-price-cont">
                    <span class="sug-pro-current">&#x20B9; 855</span>
                    <span class="sug-pro-org">&#x20B9; 655</span>
                    <span class="sug-pro-offr">65% Off</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#main_preview").elevateZoom({
            gallery:'preview_images',
            cursor: 'pointer',
            galleryActiveClass: "active",
            imageCrossfade: true,
            loadingIcon: ""
           

        }); 
        $("#main_preview").bind("click", function(e) {  
            var ez =   $('#main_preview').data('elevateZoom');
            ez.closeAll(); //NEW: This function force hides the lens, tint and window   
            $.fancybox(ez.getGalleryList());
            return false;
        }); 

       /* $("#main_preview").elevateZoom({
            scrollZoom : true,
            zoomWindowWidth: 100,
            zoomWindowHeight:100
        }); */
    });

</script>