 
                <div class="cart-item-box dynamic-layout-item dynamic-layout-col-4 bootcards-cards">
                    <div class="cart-item-profile">
                        <div class="cart-item-pro-img"><img src="static/images/class.jpeg"></div>
                        <div class="item-prof-name">
                            <span class="pro-item-name">{{it.data.userName}}</span>
                            <span class="post-item-time">11hr</span>
                        </div>
                    </div>
                    <div class="cart-item-img-conter">
                        <div class="cart-item-small"><img src="static/images/dr1.jpg"/><img src="static/images/dr1.jpg"/><img src="static/images/dr1.jpg"/><img src="static/images/dr1.jpg"/><img src="static/images/dr1.jpg"/></div>
                        <div class="cart-full-image"><img src="static/images/dr1.jpg"/></div>
                    </div>
                    <div class="item-cart-pro-info-det">
                        <h1>{{it.data.productName}}</h1>
                        <div class="item-cart-rating-cont">
                            <span class="item-cart-rate-info">2.5 <i class="mdi mdi-star"></i></span>
                        </div>
                        <div class="item-cart-price-cont">
                            <span class="item-cart-pro-current">₹ 855</span>
                            <span class="item-cart-pro-org">₹ 655</span>
                            <span class="item-cart-pro-offr">65% Off</span>
                        </div>
                        <div class="item-size-cont">
                            <span class="item-size-label">Size</span><span class="item-size-val">XXL,XL, L, M</span>
                        </div>
                        <div class="item-size-cont">
                            <span class="item-size-label">Color</span><span class="item-size-val"><i class="mdi mdi-checkbox-blank blue"></i> <i class="mdi mdi-checkbox-blank red"></i> <i class="mdi mdi-checkbox-blank crimson"></i></span>
                        </div>
                    </div>
                    <div class="cart-item-social-cont">
                        <a href=""><i class="mdi mdi-heart"></i><span>854</span></a>
                        <a href=""><i class="mdi mdi-share-variant"></i><span>1K</span></a>
                        <a href=""><i class="mdi mdi-comment"></i><span>300</span></a>
                        <a href="" class="cart-buy">Buy</a>
                    </div>
                </div> 
