<div class="cart-home-container">
  <div class="container cart-home-inner">
    professionals page
      <!--<div class="cart-box" ng-repeat="item in cards">
          <div class="cart-profile">
              <div class="cart-pro-img"><img ng-src="{{item.owner.profile}}"></div>
              <div class="prof-name">
                  <span class="pro-name">{{item.owner.fullName}}</span>
                  <span class="post-time"> 11 hrs </span>
              </div>
          </div>
          <div class="cart-img-conter">
              <img ng-src="{{item.image}}"/>
          </div>
          <div class="cart-desc">
              <span>{{item.description}}</span>
          </div>
          <div class="cart-social-cont">
              <a href=""><i class="mdi mdi-heart"></i><span>{{item.likeCount}}</span></a>
              <a href=""><i class="mdi mdi-share-variant"></i><span>1K</span></a>
              <a href=""><i class="mdi mdi-comment"></i><span>{{item.commentCount}}</span></a>
              <a href="" class="cart-soc-foll"><i class="mdi mdi-account-plus"></i></a>
              <a href=""><i class="mdi mdi-eye"></i><span>2.5K</span></a>
          </div>
      </div>-->
  </div>
</div>

    