<div class="cart-home-container">
<div class="container cart-home-inner">
    <div class="cart-table-container">
        <div class="cat-table-header">
            <h1>Cart(1)</h1>
        </div>
        <div class="cat-table-body">
            <table>
                <tr><th></th><th>Item</th><th>Qty</th><th>Price</th><th>Delivery Details</th><th>Sub Total</th></tr>
                <tr><td><img src="images/dr4.jpg"/></td><td><span class="product-title">Full Size Shirt For Men</span><span class="product-small-txt">Red</span><span class="product-small-txt">XL</span><span class="offer-apply">Offer 1 Applied</span></td><td><span class="qty-box">1</span></td><td><span class="pri-detail">Rs 255</span><span class="product-small-txt">Delivery by Feb oct 28</span></td><td><span class="pri-detail">Rs 255</span</td><td><span class="pri-detail">Rs 255</span></td></tr>
                    <tr class="footer-cont"><td></td><td></td><td></td><td>Total Savings:<span class="pric-dis">Rs 50</span></td><td>Amount Payable</td><td><span class="tol-amt">Rs. 329</span></td></tr>
            </table>
                <div class="pay-card-btn-cont">
                    <div class="pay-card-btn">
                        <a href="#">Back</a>
                        <a href="#">PayOut</a>
                    </div>
                </div>
                </div>
            <div class="cat-table-footer">
            </div>
        </div>
    </div>
</div>
